div.not-found-container {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-link {
        &:hover {
            color: #32a887;
            font-weight: bold;
        }
    }
}