.sign-in {
    // width: 30vw;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    #google-btn {
        margin-left: 10px;
        display: flex;
        justify-content: space-evenly;
        
        // &:hover {
        //     #google-icon {
        //         visibility: visible;
        //     }
        // }

        #google-icon {
            margin-left: 5px;
            font-size: 18px;
        }
    }
}